{% extends 'ride/base.html' %}

{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.owner.profile.image.url }}"    >
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.owner }}</a>
          <small class="text-muted">{{ object.date_started|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.des }}</h2>
      </div>
    </article>
{% endblock content %}