{% extends 'ride/base.html' %}
{% block content %}
<table class="table table-striped table-bordered">
  <tr>
    <th>status</th>
    <th>Join</th>  
    <th>owner name</th>
    <th>destination</th>
    <th>leaving time</th>
    <th>arriving time</th>
    <th>passenger number</th>
    <th>share or not</th>
    <th>share max number</th>
    <th>share name</th>
    <th>share number</th>
    <th>driver name</th>
    <th>Vehicle Type</th>              
    <th>License Plate Number</th>      
    <th>Maximum Passenger Capacity</th>

    
  </tr>
  {% for ride in object_list %}
  <tr>
    {% if ride.status == 0 %}                                      
        <th>Open</th>                                              
    {% elif ride.status == 1%}                                     
        <th>Confirmed</th>                                         
    {% else %}                                                     
        <th>Complete</th>                                          
    {% endif %}                                                    
    <th><a href="{% url 'ride:share-join' ride.id %}">Join</a></th>
    
      <th>{{ ride.owner.username }}</th>
      <th>{{ ride.des }}</th>
      <th>{{ ride.start_date|date:"F d, Y" }}</th>
      <th>{{ ride.arrive_date|date:"F d, Y" }}</th>
      <th>{{ ride.pas_num }}</th>
      <th>{{ ride.share_valid }}</th>
      <th>{{ ride.share_max_num }}</th>
      <th>{{ ride.share_name }}</th>
      <th>{{ ride.share_number }}</th>
    <th>{{ ride.driver_name }}</th>
    <th>{{ ride.vehicle_type }}</th>        
    <th>{{ ride.license_plate_number }}</th>
    <th>{{ ride.max_pas_num }}</th>         
    
    </tr>
  {% endfor %}
</table>
{% endblock content %}
